In [1]:
import pandas as pd

In [4]:
bike_trip = pd.read_csv('cleandata/201512citibiketrips.csv')
bike_trip.head()

  end station name  trips
0  1 Ave & E 15 St   4162
1  1 Ave & E 18 St   2767
2  1 Ave & E 30 St   3162
3  1 Ave & E 44 St   1829
4  1 Ave & E 62 St   1955

In [9]:
data2019 = pd.read_csv('cleandata/201912customerdata.csv')
data2020 = pd.read_csv('cleandata/202012customerdata.csv')

In [10]:
data2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male
1,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male
2,1223,2019-12-01 00:00:39.7930,2019-12-01 00:21:03.6680,465,Broadway & W 41 St,40.755136,-73.986580,359,E 47 St & Park Ave,40.755103,-73.974987,16810,Customer,1982,Male
3,1570,2019-12-01 00:01:57.0540,2019-12-01 00:28:07.7410,309,Murray St & West St,40.714979,-74.013012,514,12 Ave & W 40 St,40.760875,-74.002777,41997,Customer,1973,Male
4,633,2019-12-01 00:02:14.8210,2019-12-01 00:12:48.0130,3134,3 Ave & E 62 St,40.763126,-73.965269,447,8 Ave & W 52 St,40.763707,-73.985162,29984,Customer,1998,Male

In [11]:
data2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,694,2020-12-01 00:00:03.7770,2020-12-01 00:11:38.3160,4065,Wadsworth Ave & W 179 St,40.848467,-73.936064,3959,Edgecombe Ave & W 145 St,40.823498,-73.943860,49454,Customer,1988,Female
1,2182,2020-12-01 00:00:36.4030,2020-12-01 00:36:59.0330,3165,Central Park West & W 72 St,40.775794,-73.976206,3952,E 141 St & Jackson Ave,40.806896,-73.911837,16558,Customer,1997,Male
2,525,2020-12-01 00:02:10.3850,2020-12-01 00:10:55.5480,3338,2 Ave & E 99 St,40.786259,-73.945526,3671,E 81 St & 2 Ave,40.774779,-73.954275,49730,Customer,1995,Male
3,331,2020-12-01 00:02:20.3350,2020-12-01 00:07:51.4080,3443,W 52 St & 6 Ave,40.761330,-73.979820,492,W 33 St & 7 Ave,40.750200,-73.990931,49486,Customer,1981,Male
4,1396,2020-12-01 00:03:15.3130,2020-12-01 00:26:32.3010,4106,Ogden Ave & W 164 St,40.832812,-73.929372,3994,2 Ave & E 125 St,40.802554,-73.933509,37343,Customer,1989,Male

In [12]:
tables = [data2019,data2020]
combined_customer = pd.concat(tables)
combined_customer

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,Male
1,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,Male
2,1223,2019-12-01 00:00:39.7930,2019-12-01 00:21:03.6680,465,Broadway & W 41 St,40.755136,-73.986580,359,E 47 St & Park Ave,40.755103,-73.974987,16810,Customer,1982,Male
3,1570,2019-12-01 00:01:57.0540,2019-12-01 00:28:07.7410,309,Murray St & West St,40.714979,-74.013012,514,12 Ave & W 40 St,40.760875,-74.002777,41997,Customer,1973,Male
4,633,2019-12-01 00:02:14.8210,2019-12-01 00:12:48.0130,3134,3 Ave & E 62 St,40.763126,-73.965269,447,8 Ave & W 52 St,40.763707,-73.985162,29984,Customer,1998,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91892,128,2020-12-31 23:50:12.8700,2020-12-31 23:52:21.6490,297,E 15 St & 3 Ave,40.734232,-73.986923,504,1 Ave & E 16 St,40.732219,-73.981656,36478,Customer,2000,Male
91893,166,2020-12-31 23:52:24.0550,2020-12-31 23:55:10.5220,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3857,Engert Ave & McGuinness Blvd,40.721580,-73.945460,50000,Customer,1989,Male
91894,4727,2020-12-31 23:55:41.0840,2021-01-01 01:14:28.5180,533,Broadway & W 38 St,40.752996,-73.987216,533,Broadway & W 38 St,40.752996,-73.987216,46954,Customer,1987,Female
91895,268,2020-12-31 23:56:35.5290,2021-01-01 00:01:03.8460,4099,E 169 St & Webster Ave,40.834015,-73.908863,4177,Prospect Ave & Jennings St,40.831762,-73.896853,47843,Customer,1993,Female
91896,1178,2020-12-31 23:58:14.1000,2021-01-01 00:17:52.3380,3335,Union St & 4 Ave,40.677274,-73.982820,3860,Wilson Ave & Troutman St,40.701660,-73.927540,47991,Customer,1988,Male

In [13]:
combined_customer.to_csv('cleandata/customer2020_2019.csv', index = False)